<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/kms-template.xhtml">

    <ui:define name="top"/>
    <ui:define name="content">
        <center>
            <h2>A D D R E S S  -  C R U D S</h2>
        </center>
        <h:form>
            <center>
                <h:panelGrid columns="2" frame="border" rowClasses="list-row-odd,list-row-even">

                    <h:outputLabel for="act-id" value="Person id: "/>
                    <h:outputText id="act-id" value="#{addressCruds.person.id}"
                                 title="Person id" />

                    <h:outputLabel for="act-type" value="Person type (S=Staff/P=Patient): "/>
                    <h:outputText id="act-type" value="#{addressCruds.person.personType}"
                                  title="Person type (S=Staff/P=Patient)" />

                    <h:outputLabel for="act-name" value="Person name: "/>
                    <h:outputText id="act-name"
                        value="#{addressCruds.person.firstName} #{addressCruds.person.lastName}"
                        title="Person name" />

                    <h:outputLabel for="act-bank1" value="Address line 1: "/>
                    <h:inputText id="act-bank1" size="60"
                                 value="#{addressCruds.address.addr1}"
                                 title="Address first line" />

                    <h:outputLabel for="act-bank2" value="Address line 2: "/>
                    <h:inputText id="act-bank2" size="60"
                                 value="#{addressCruds.address.addr2}"
                                 title="Address second line" />

                    <h:outputLabel for="act-unit" value="Unit: "/>
                    <h:inputText id="act-unit" size="30"
                                 value="#{addressCruds.address.unitt}"
                                 title="Unit" />

                    <h:outputLabel for="act-city" value="City: "/>
                    <h:inputText id="act-city" size="20"
                                 value="#{addressCruds.address.city}"
                                 title="City" />

                    <h:outputLabel for="act-suburb" value="Suburb: "/>
                    <h:inputText id="act-suburb" size="20"
                                 value="#{addressCruds.address.suburb}"
                                 title="Suburb" />

                    <h:outputLabel for="act-postcode" value="Postcode: "/>
                    <h:inputText id="act-postcode" size="10"
                                 value="#{addressCruds.address.postcode}"
                                 title="Postcode"/>

                    <h:outputLabel for="act-country" value="Country: "/>
                    <h:inputText id="act-country" size="20"
                                 value="#{addressCruds.address.country}"
                                 title="Country" />
                </h:panelGrid>
            </center>
            <center>(* = required)</center>
            <br></br>
            <center>
                <h:commandButton id="reset"
                                 action="#{addressCruds.doReset}"
                                 value="Reset"/>
                <h:commandButton id="update"
                                 action="#{addressCruds.doUpdate}"
                                 disabled="#{!accessControl.userIsAdmin}"
                                 value="Apply"/>
                <h:commandButton id="delete"
                                 action="#{addressCruds.doDelete}"
                                 value="Delete"
                                 disabled="#{!accessControl.userIsAdmin}"/>
            </center>
            <br></br>
            <p></p>
            <h:messages globalOnly="true" showSummary="true" showDetail="false"/>
            <p></p>
            <br></br>
            <h:dataTable id="payment-list"
                         captionClass="list-caption"
                         columnClasses="ano,afl,asl,act,apc,acn"
                         footerClass="list-footer"
                         headerClass="list-header"
                         rowClasses="list-row-odd,list-row-even"
                         styleClass="list-background"
                         summary="T O T A L"
                         value="#{addressCruds.addresses}"
                         border="1"
                         var="a">

                <f:facet name="caption">
                    <h:outputText value="A D D R E S S E S"/>
                </f:facet>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="No."/>
                    </f:facet>
                    <h:commandLink id="company-select-act" action="#{addressCruds.doSelectAddress}"
                                   immediate="false">
                        <h:outputText id="company-no" value="#{a.no}" title="Row number in this table"/>
                    </h:commandLink>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="First Line"/>
                    </f:facet>
                    <h:outputText id="company-first" value="#{a.addr1}" title="First line of the address"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Second Line"/>
                    </f:facet>
                    <h:outputText id="company-second" value="#{a.addr2}" title="Second line of the address"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="City"/>
                    </f:facet>
                    <h:outputText id="company-city" value="#{a.city}" title="City of the address"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Postcode"/>
                    </f:facet>
                    <h:outputText id="company-postcode" value="#{a.postcode}" title="Postcode of the address"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Country"/>
                    </f:facet>
                    <h:outputText id="company-country" value="#{a.country}" title="Country of the address"/>
                </h:column>

            </h:dataTable>
            <center>(to edit an address click its left most column)</center>
            <br></br>
            <p></p>
            <center>
                <h:commandButton id="ok"
                                 action="#{addressCruds.doSelect}"
                                 value="Back"/>
            </center>
            <br></br>
            <p></p>
        </h:form>
    </ui:define>
</ui:composition>


