<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://openfaces.org/"
                template="/kms-template.xhtml">
    <ui:define name="top"/>
    <ui:define name="content">
        <h:form>
            <center>
                <h2>M A I N - M E N U</h2>
            </center>
            <ol>
                <p></p>
                <li>
                    <h:commandLink id="edit-customer-masterdata"
                                   action="person-cruds"
                                   immediate="false" disabled="#{!accessControl.userIsUser}">
                        <h:outputText value="S T A F F / P A T I E N T  -  C R U D S"/>
                    </h:commandLink>
                </li>
                <p></p>
            </ol>
            <p></p>
            <br></br>
        </h:form>
    </ui:define>
</ui:composition>


