<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

        <h:head>
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
            <h:outputStylesheet library="css" name="stylesheet.css"/>
            <title>K M S</title>
        </h:head>
        <h:body>
            <div id="top" class="top" align="center" style="background-color: white;">
                <h1>K M S</h1>
                <ui:insert name="top" />
            </div>
            <div id="content" class="center_content" >
                <h:form>
                    <h:commandLink id="logout"
                                   action="#{accessControl.doLogout}"
                                   immediate="false">
                        <h:outputText value="Logout"/>
                    </h:commandLink>                        
                </h:form>
                <ui:insert name="content" />
            </div>
            <div id="bot" class="top" align="center" style="background-color: white;">
                Copyright &copy; 2021 PT Ksatria Medical Solution. All rights reserved.
            </div>
        </h:body>
</html>

