<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/kms-template.xhtml">

    <ui:define name="top"/>
    <ui:define name="content">
        <center>
            <h2>S T A F F / P A T I E N T  -  C R U D S</h2>
        </center>
        <h:form>
            <center>
                <h:panelGrid columns="2" frame="border" rowClasses="list-row-odd,list-row-even">

                    <h:outputLabel for="act-id" value="Id: "/>
                    <h:outputText id="act-id"
                                  value="#{personCruds.person.id}"
                                  title="System generated ID" />

                    <h:outputLabel for="act-type" value="Type (S=Staff/P=Patient): "/>
                    <h:outputText id="act-type"
                                  value="#{personCruds.person.personType}"
                                  title="Person type (S=Staff/P=Patient)" />

                    <h:outputLabel for="act-nama1" value="Firstname: "/>
                    <h:inputText id="act-nama1" size="60"
                                 value="#{personCruds.person.firstName}"
                                  title="Person firstname" />

                    <h:outputLabel for="act-nama2" value="*Lastname: "/>
                    <h:inputText id="act-nama2" size="60"
                                 value="#{personCruds.person.lastName}"
                                  title="Person lastname" />

                    <h:outputLabel for="act-telp" value="Contact number: "/>
                    <h:inputText id="act-telp" size="30"
                                 value="#{personCruds.person.contactNumber}"
                                  title="Person contact number" />

                    <h:outputLabel for="act-dob" value="*Date of birth (dd MMM yyyy): "/>
                    <h:inputText id="act-dob" size="15"
                                 value="#{personCruds.person.dobStr}"
                                  title="Person date of birth" />

                    <h:outputLabel for="act-addr" value="Addresses: "/>
                    <h:commandLink id="act-addr" action="#{personCruds.doAddressList}"
                                   immediate="false">
                        <h:outputText id="company-no" value="[addresses list]" title="Click to go to the address list of this person"/>
                    </h:commandLink>

                    <h:outputLabel for="userr" value="Username: "/>
                    <h:inputText id="userr" size="30"
                                 value="#{personCruds.staff.userr}"
                                 disabled="#{personCruds.isNonStaff}"
                                 title="Staff username" />

                    <h:outputLabel for="job-title" value="Job title: "/>
                    <h:inputText id="job-title" size="60"
                                 value="#{personCruds.staff.jobTitle}"
                                 disabled="#{personCruds.isNonStaff}"
                                 title="Staff job title" />

                    <h:outputLabel for="outpatient" value="Outpatient: "/>
                    <h:selectBooleanCheckbox id="outpatient"
                                 disabled="#{personCruds.isNonPatient}"
                                 title="Outpatient"
                                 value="#{personCruds.patient.isOutPatient}"/>

                    <h:outputLabel for="gender" value="Gender: "/>
                    <h:selectOneMenu id="gender" title="Patient gender"
                                     disabled="#{personCruds.isNonPatient}"
                                     value="#{personCruds.patientGender}">
                        <f:selectItems value="#{personCruds.possibleGenders}"/>
                    </h:selectOneMenu>

                    <h:outputLabel for="act-email" value="Email address: "/>
                    <h:inputText id="act-email" size="30"
                                 value="#{personCruds.patient.email}"
                                 disabled="#{personCruds.isNonPatient}"
                                 title="Patient email address" />

                    <h:outputLabel for="height" value="Height (cm): "/>
                    <h:inputText id="height" size="10"
                                 value="#{personCruds.patient.height}"
                                 disabled="#{personCruds.isNonPatient}"
                                 title="Patient height (cm)" />

                    <h:outputLabel for="weight" value="Weight (kg): "/>
                    <h:inputText id="weight" size="10"
                                 value="#{personCruds.patient.weight}"
                                 disabled="#{personCruds.isNonPatient}"
                                 title="Patient weight (kg)" />
                </h:panelGrid>
            </center>
            <center>(* = required)</center>
            <br></br>
            <center>
                <h:commandButton id="reset2staff"
                                 action="#{personCruds.doReset2Staff}"
                                 value="New Staff"/>

                <h:commandButton id="reset2patient"
                                 action="#{personCruds.doReset2Patient}"
                                 value="New Patient"/>

                <h:commandButton id="update"
                                 action="#{personCruds.doUpdate}"
                                 disabled="#{!accessControl.userIsAdmin}"
                                 value="Apply"/>

                <h:commandButton id="delete"
                                 action="#{personCruds.doDelete}"
                                 disabled="#{!accessControl.userIsAdmin}"
                                 value="Delete"/>
            </center>
            <br></br>
            <p></p>
            <center>
                <h:commandButton id="ok1"
                                 action="#{personCruds.doSelect}"
                                 value="Back"/>
            </center>
            <br></br>
            <p></p>
            <h:messages globalOnly="true" showSummary="true" showDetail="false"/>
            <p></p>
            <br></br>
            <p>
                <center><h3>S E A R C H</h3></center>
                <center>
                    <h:panelGrid columns="2" frame="border" rowClasses="list-row-odd,list-row-even">

                        <h:outputLabel for="search-key" value="Keyword: "/>
                        <h:inputText id="search-key" size="40"
                                     value="#{personCruds.searchKeyword}"
                                     title="Regex and wildcards accepted, min 4 chars long"/>
                    </h:panelGrid>
                </center>
                <p></p>
                <center>
                    <h:commandButton id="search-actor"
                                     action="#{personCruds.doSearch}"
                                     value="Search"/>
                </center>
            </p>
            <p></p>
            <br></br>
            <h:outputText value="Showing: #{personCruds.pageHint}" />
            <br></br>
            <h:commandLink id="first-page1" action="#{personCruds.doFirstPage}"
                           immediate="false" disabled="#{personCruds.isPrevDisabled}">
                <h:outputText value="[FIRST]"/>
            </h:commandLink>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <h:commandLink id="prev-page1" action="#{personCruds.doPrevPage}"
                           immediate="false" disabled="#{personCruds.isPrevDisabled}">
                <h:outputText value="[PREV]"/>
            </h:commandLink>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <h:commandLink id="next-page1" action="#{personCruds.doNextPage}"
                           immediate="false" disabled="#{personCruds.isNextDisabled}">
                <h:outputText value="[NEXT]"/>
            </h:commandLink>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <h:commandLink id="last-page1" action="#{personCruds.doLastPage}"
                           immediate="false" disabled="#{personCruds.isNextDisabled}">
                <h:outputText value="[LAST]"/>
            </h:commandLink>
            <h:dataTable id="customer-list"
                         captionClass="list-caption"
                         columnClasses="pno,psel,pid,ptp,pfn,pln,pct"
                         footerClass="list-footer"
                         headerClass="list-header"
                         rowClasses="list-row-odd,list-row-even"
                         styleClass="list-background"
                         summary="T O T A L"
                         value="#{personCruds.persons}"
                         border="1"
                         var="p"
                         rows="#{personCruds.pageSize}" first="#{personCruds.start}">

                <f:facet name="caption">
                    <h:outputText value="Search Result"/>
                </f:facet>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="No."/>
                    </f:facet>
                    <h:outputText id="company-no" value="#{p.no}" title="Row number in this table"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Select"/>
                    </f:facet>
                    <h:selectBooleanCheckbox id="company-select"
                                             title="Select" value="#{p.isSelected}"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Id"/>
                    </f:facet>
                    <h:outputText id="company-id" value="#{p.id}" title="Id"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="S=Staff/P=Patient"/>
                    </f:facet>
                    <h:outputText id="company-tipe" value="#{p.personType}" title="Person type S=Staff, P=Patient"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Firstname"/>
                    </f:facet>
                    <h:outputText id="company-usernama" value="#{p.firstName}" title="Firstname"/>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Lastname"/>
                    </f:facet>
                    <h:commandLink id="company-select-act" action="#{personCruds.doSelectPerson}"
                                   immediate="false">
                        <h:outputText id="company-nama" value="#{p.lastName}" title="Lastname"/>
                    </h:commandLink>
                </h:column>

                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Contact"/>
                    </f:facet>
                    <h:outputText id="no-telp" value="#{p.contactNumber}" title="Contact number"/>
                </h:column>

            </h:dataTable>

            <h:outputText value="Showing: #{personCruds.pageHint}" />
            <br></br>
            <h:commandLink id="first-page2" action="#{personCruds.doFirstPage}"
                           immediate="false" disabled="#{personCruds.isPrevDisabled}">
                <h:outputText value="[FIRST]"/>
            </h:commandLink>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <h:commandLink id="prev-page2" action="#{personCruds.doPrevPage}"
                           immediate="false" disabled="#{personCruds.isPrevDisabled}">
                <h:outputText value="[PREV]"/>
            </h:commandLink>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <h:commandLink id="next-page2" action="#{personCruds.doNextPage}"
                           immediate="false" disabled="#{personCruds.isNextDisabled}">
                <h:outputText value="[NEXT]"/>
            </h:commandLink>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            <h:commandLink id="last-page2" action="#{personCruds.doLastPage}"
                           immediate="false" disabled="#{personCruds.isNextDisabled}">
                <h:outputText value="[LAST]"/>
            </h:commandLink>
            <br></br>
            <p></p>
            <center>
                <h:commandButton id="ok2"
                                 action="#{personCruds.doSelect}"
                                 value="Back"/>
            </center>
            <br></br>
            <p></p>
        </h:form>
    </ui:define>
</ui:composition>
