/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2021, 4:26:19 PM
    Author     : bernarto
*/

#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}
body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #045491;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

.center_content {
    position: relative;
    background-color: #e0e0e0;
    padding: 5px;
}

.error-message {
  color: #d20005;
  font-family: 'New Century Schoolbook', serif;
  font-style: oblique;
  text-decoration: overline;
}

.list-background { 
  background-color: #ffffff;
  font-family: sans-serif;
  font-size: 12pt;
  padding: 10px;
  width: 100%;
}

.list-caption {
  font-family: sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.list-column-center {
  text-align: center;
  width: 15%;
}

.list-column-left {
  text-align: left;
  width: 70%;
}

.list-column-right {
  text-align: right;
  width: 15%;
}

.list-footer { 
  background-color: #A5A5A5;
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.list-header { 
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #eaf1f8;
}

.special-offer { 
  font-family: sans-serif;
  font-size: 12pt;
  text-align: left;
  padding: 10px;
}


/*
    person list
*/
.pno {
  text-align: right;
  width: 3%;
}
.psel {
  text-align: center;
  width: 3%;
}
.pid {
  text-align: right;
  width: 4%;
}
.ptp {
  text-align: center;
  width: 5%;
}
.pfn {
  text-align: center;
  width: 25%;
}
.pln {
  text-align: center;
  width: 40%;
}
.pct {
  text-align: center;
  width: 20%;
}


/*
    address list
*/
.ano {
  text-align: right;
  width: 3%;
}
.afl {
  text-align: left;
  width: 25%;
}
.asl {
  text-align: left;
  width: 20%;
}
.act {
  text-align: center;
  width: 20%;
}
.apc {
  text-align: center;
  width: 12%;
}
.acn {
  text-align: center;
  width: 20%;
}

